/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2; /* Light gray background */
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #007bff;
    padding: 10px 0;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.symptom-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    z-index: 99;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.diagnosis {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}
